{% extends 'base.html' %}

{% block content %}
<div class="col">
    <div class="row">
        <h1>Register page</h1>
    </div>
    <div class="row">
        <form action="register" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="first_name">
            </div>
             <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control"  name="last_name">
            </div>
             <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control"  name="username">
            </div>
             <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password1">
            </div>
            <div class="form-group">
                <label>Re-write Password</label>
                <input type="password" class="form-control" name="password2">
            </div>
            <button class="btn btn-primary">Sign up</button>
        </form>
    </div>
    <div class="row">
            {% for message in messages %}
            <h4>{{ message }}</h4>
            {% endfor %}
    </div>

</div>
{% endblock %}
